.body {
    background-color:#c8d8e4;
    
}

.logo {
display: flex;
justify-content: center;
}

.header { 
        display: flex;
        justify-content: space-evenly;
        border: 2px solid #2b6777;
        background-color: #f2f2f2; 
}

.header__1 {
        padding: 10px; 
        border: 2px solid #52ab98;
        margin: 1em;
}

.country_image {
    display: flex;
    justify-content: center;  
}

.country_title {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.content__landMarks{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content__citizens{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content__cities{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content__homePage{
    border: 5px solid #2b6777;
    padding: 1em;
    flex-basis: 90%;
    background-color: #f2f2f2;
    text-align: center;
}
.foot {
    display: flex;
    border: 2px solid #2b6777;
    padding: 1em;
    background-color: #f2f2f2;
}

.foot__content {
    flex-basis: 100%;
}

.map {
    border: 5px solid #2b6777;
    padding: 10px;
    width: 200px;
}

.content__titlename {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}