.body {
    background-color:#c8d8e4;
}

.logo {
display: flex;
justify-content: center;
}

.logo__image {
    }

.header { 
        display: flex;
        justify-content: space-evenly;
        border: 2px solid #2b6777;
        background-color: #f2f2f2; 
}

.header__1 {
        padding: 10px; 
        border: 2px solid #52ab98;
        margin: 1em;
}

.country_image {
    display: flex;
    justify-content: center;
    
   

}
.country_title {
    text-align: center;


}




.conect {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.content_landMarks{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content_citizens{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content_cities{
    border: 5px solid rgb(71, 71, 71);
    padding: 1em;
    background-color: #f2f2f2;
}

.content_homePage{
    border: 5px solid #2b6777;
    padding: 1em;
    flex-basis: 90%;
    background-color: #f2f2f2;
    text-align: center;
}
.foot {
    display: flex;
    border: 2px solid #2b6777;
    padding: 1em;
    background-color: #f2f2f2;
}

.foot__content {
    flex-basis: 100%;
}

.map {
    border: 5px solid #2b6777;
    padding: 10px;
    width: 200px;
}